USE [InventoryManagement]
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertVyapariDueData]    Script Date: 19-05-2025 15:10:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_InsertVyapariDueData]
	@VDAID     VARCHAR(24)		= '',
	@TRNDT     VARCHAR(50)		= '',
	@TAMT      FLOAT			= 0 ,
	@VPAID     VARCHAR(24)		= '',
	@TRNSR	   VARCHAR(256)		= '',
	@TRNTID	   VARCHAR(24)		= '',
	@REFKEY	   VARCHAR(24)		= '',
	@UAID	   VARCHAR(24)		= '',
	@ISDELETED bit				= 0 ,
	@VREFF	   VARCHAR(24)		= '',
	@SEVA	   NVARCHAR(MAX)	= ''

AS
BEGIN
	DECLARE		@RMSG				AS NVARCHAR(MAX)
	DECLARE		@RVAL				AS NVARCHAR(MAX)		
	DECLARE		@ERRORCODE			AS VARCHAR(10)
	DECLARE		@ISSUCCESS			AS INT  = 1
	DECLARE		@CNT	            AS INT  = 0

	SET NOCOUNT ON;

	DECLARE  @VPSCHEME		 VARCHAR(24)	= ''
			,@VTYPE			 VARCHAR(10)	= ''
			,@STARTDATE		 VARCHAR(10)	= ''
			,@ENDDATE		 VARCHAR(10)	= ''
			,@DUEDATE		 VARCHAR(10)	= ''
			,@KALAVADHI		 VARCHAR(10)	= ''
			,@FDUEDT		 DATETIME		= '01 jan 1900'
			,@SDUEDT		 DATETIME		= '01 jan 1900'
			,@TID			 VARCHAR(24)	= ''
			,@DaysInMonth	INT				= DAY(EOMONTH(@TRNDT))
			,@Day			INT				= DAY(@TRNDT)
			,@BPAMT			FLOAT			= 0
			,@TAMT1			FLOAT			= 0
			,@REFF			VARCHAR(24)		= ''
			,@STID			VARCHAR(24)		= ''
			,@CNT1			INT				= 0
			,@TOTAL			FLOAT			= 0
			,@VTOTAL		FLOAT			= 0

	;WITH SplitComma AS (
		SELECT TRIM(value) AS Item
		FROM STRING_SPLIT(@SEVA, ',')
	),

	SplitUnderscore AS (
		SELECT 
			LEFT(Item, CHARINDEX('_', Item) - 1) AS Code,
			CONVERT(DECIMAL(18,2), RIGHT(Item, LEN(Item) - CHARINDEX('_', Item))) AS Amount
		FROM SplitComma
	)

	SELECT @TOTAL = ROUND(SUM(Amount), 0)
	FROM SplitUnderscore;

	SET @VTOTAL = @TOTAL + @TAMT

	IF OBJECT_ID('tempdb..#TmpSlabData') IS NOT NULL
	DROP TABLE #TmpSlabData;

	CREATE TABLE #TmpSlabData (
		STARTDATE	VARCHAR(10),
		ENDDATE		VARCHAR(10),
		DUEDATE		VARCHAR(10),
		KALAVADHI	VARCHAR(10),
	)

	SELECT  @VPSCHEME	= VPSCHEME,
			@VTYPE		= VTYPE
	FROM	tblVyapariMaster
	WHERE	ISDELETED	= 0
		AND VPAID		= @VPAID

	INSERT INTO #TmpSlabData (STARTDATE, ENDDATE, DUEDATE, KALAVADHI)
	SELECT	D.STARTDATE,	
			D.ENDDATE,	
			D.DUEDATE,	
			D.KALAVADHI
	FROM	tblVpapariSlabMaster	M
		LEFT JOIN tblVyapariSlabDetail D ON D.ISDELETED = 0 AND D.VSAID = M.VSAID
	WHERE	M.ISDELETED	= 0
		AND M.VSAID		= @VPSCHEME

	SELECT		@CNT1		= COUNT(*)
	FROM		TBLVYAPRIDUE
	WHERE		ISDELETED	= 0
		AND		VDAID		= @VDAID
		AND		REFKEY		= @REFKEY
		AND		VPAID		= @VPAID

	IF @CNT1 = 0
	BEGIN 
		IF @VTYPE  = 0
		BEGIN 

			DECLARE @C_STARTDATE	VARCHAR(10)
					,@C_ENDDATE		VARCHAR(10)
					,@C_DUEDATE		VARCHAR(10)
					,@C_KALAVADHI	VARCHAR(10)

			DECLARE slab_cursor CURSOR FOR
			SELECT STARTDATE, ENDDATE, DUEDATE, KALAVADHI FROM #TmpSlabData

			OPEN slab_cursor
			FETCH NEXT FROM slab_cursor INTO @C_STARTDATE, @C_ENDDATE, @C_DUEDATE, @C_KALAVADHI

			WHILE @@FETCH_STATUS = 0
			BEGIN
					SET @STARTDATE   =  @C_STARTDATE
					SET @ENDDATE	 =  @C_ENDDATE	
					SET @DUEDATE	 =  @C_DUEDATE	
					SET @KALAVADHI	 =  @C_KALAVADHI
			
				IF @Day BETWEEN CAST(@C_STARTDATE AS INT) AND CAST(@C_ENDDATE AS INT)
				BEGIN
					
					SELECT		@STID		= VSDAID
					FROM		tblVyapariSlabDetail
					WHERE		ISDELETED	= 0
						AND		VSAID		= @VPSCHEME		
						AND		STARTDATE	=  @C_STARTDATE
						AND		ENDDATE		=  @C_ENDDATE	
						AND		DUEDATE		=  @C_DUEDATE	
						AND		KALAVADHI	=  @C_KALAVADHI

					DECLARE @TRNDTT		 DATE		= ''

					SELECT		TOP 1
								@BPAMT		= BPAMT
								,@REFF		= VDAID
								,@TRNDTT	= TRNDT
					FROM		TBLVYAPRIDUE
					WHERE		ISDELETED	= 0
					  AND		DAY(TRNDT) BETWEEN CAST(@C_STARTDATE AS INT) AND CAST(@C_ENDDATE AS INT)
					  AND		VPAID		= @VPAID
					  AND		KALAVADHI	= @KALAVADHI
					ORDER BY	SYSDT DESC

					IF(MONTH(@TRNDT) = MONTH(@TRNDTT) ) 
					BEGIN
						
						SET		@BPAMT		= @VTOTAL + @BPAMT 
						SET		@REFF		= @REFF
						
					END
					ELSE
					BEGIN	
						SET		@BPAMT		= @VTOTAL
						SET		@REFF		= ''
					END

					
				
					IF @KALAVADHI = 0
					BEGIN
							--SET @FDUEDT = DATEFROMPARTS(YEAR(GETDATE()), MONTH(GETDATE()), @DUEDATE)
							SET @FDUEDT = DATEFROMPARTS(YEAR(@TRNDT), MONTH(@TRNDT), @DUEDATE);

							
					END
					ELSE IF @KALAVADHI = 1
					BEGIN
							DECLARE @NextMonthDate DATE = DATEADD(MONTH, 1,@TRNDT)
							SET @FDUEDT = DATEFROMPARTS(YEAR(@NextMonthDate), MONTH(@NextMonthDate), @DUEDATE)
							
					END
					ELSE IF @KALAVADHI = 2
					BEGIN
							SET @FDUEDT = @TRNDT
					END
					SET @TID = @VPSCHEME
					

					SET			@RMSG				= 'vyapai due  Added Successfully.'
					SET			@RVAL				= 'ADDED'
					SET			@ERRORCODE			= 'SUCCESS'
					SET			@ISSUCCESS			= 1
								
					SELECT 		@ERRORCODE			AS ResponseCode,
								@RMSG				AS ResponseMessage,
								@RVAL				AS ResponseValues,
								@ISSUCCESS			AS IsSuccessful
					RETURN	
				
				END
				
				FETCH NEXT FROM slab_cursor INTO @C_STARTDATE, @C_ENDDATE, @C_DUEDATE, @C_KALAVADHI
			END
			CLOSE slab_cursor
			DEALLOCATE slab_cursor

			DROP TABLE #TmpSlabData
		END

		IF @VTYPE  = 1
		BEGIN 
			SET		@BPAMT		= @VTOTAL
			SET		@FDUEDT		= @TRNDT

			SELECT		@STID		= VSDAID
			FROM		tblVyapariSlabDetail
			WHERE		ISDELETED	= 0
				AND		VSAID		= @VPSCHEME			
				AND		KALAVADHI	= '2'

				SET @TID = @VPSCHEME

				SET			@RMSG				= 'vyapai due  Added Successfully.'
				SET			@RVAL				= 'ADDED'
				SET			@ERRORCODE			= 'SUCCESS'
				SET			@ISSUCCESS			= 1
					
								
				SELECT 		@ERRORCODE			AS ResponseCode,
							@RMSG				AS ResponseMessage,
							@RVAL				AS ResponseValues,
							@ISSUCCESS			AS IsSuccessful

				RETURN
		END
	END
	ELSE
	BEGIN
		DECLARE		 @TAMT_		FLOAT		= 0
					,@BPAMT_	FLOAT		= 0
					,@BPAMT_1	FLOAT		= 0
					,@REFF_		VARCHAR(24)	= ''

		IF @VTYPE = 0
		BEGIN
			SELECT		 @TAMT_		= TAMT
						,@BPAMT_	= BPAMT
						,@REFF_		= REFF
			FROM		TBLVYAPRIDUE
			WHERE		ISDELETED	= 0
				AND		VDAID		= @VDAID
				AND		REFKEY		= @REFKEY
				AND		VPAID	    = @VPAID
			SET		@BPAMT_1 = @BPAMT_  - @TAMT_
		
			SET		@BPAMT = @BPAMT_1 + @VTOTAL

			UPDATE	  tblVyapriDue
			SET		  TRNDT		=    @TRNDT
					 ,TAMT		=    @VTOTAL
					 ,BPAMT		=    @BPAMT
			WHERE	 ISDELETED  =	0
			  AND	 VPAID	    =	@VPAID
			  AND	 VDAID	    =	@VDAID

			SET			@RMSG				= 'vyapai due Updated  Successfully.'
			SET			@RVAL				= 'UPDATED'
			SET			@ERRORCODE			= 'SUCCESS'
			SET			@ISSUCCESS			= 1
				
			SELECT 		@ERRORCODE			AS ResponseCode,
						@RMSG				AS ResponseMessage,
						@RVAL				AS ResponseValues,
						@ISSUCCESS			AS IsSuccessful
			RETURN
		END
		ELSE
		BEGIN
			UPDATE		tblVyapriDue
			SET			TRNDT		=    @TRNDT
						,TAMT		=    @VTOTAL
						,BPAMT		=    @VTOTAL
			WHERE		ISDELETED   =	 0
				AND		VPAID	    =	 @VPAID
				AND		VDAID	    =	 @VDAID

			SET			@RMSG				= 'vyapai due Updated  Successfully.'
			SET			@RVAL				= 'UPDATED'
			SET			@ERRORCODE			= 'SUCCESS'
			SET			@ISSUCCESS			= 1
				
			SELECT 		@ERRORCODE			AS ResponseCode,
						@RMSG				AS ResponseMessage,
						@RVAL				AS ResponseValues,
						@ISSUCCESS			AS IsSuccessful
			RETURN
		END
		
	END
END