a {
    text-decoration: none;
    color: #5B6670;

    &:hover {
        --bs-text-opacity: 1;
        opacity: 1;
        color: #FF9F43;
    }
}

body {
    background-color: #F1F0E8;
}

.btn-submit {
    background: #ff9f43;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 20px;
    -webkit-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.btn-submit:hover {
    background: #ff8510;
    color: #fff;
}

@media (max-width: 991.98px) {
    .btn-submit {
        min-width: auto;
    }
}

.btn-submit.chenge-btn {
    padding: 8px 12px;
}

.btn-cancel {
    background: #67748e;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 20px;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.btn-cancel:hover {
    background: #424b52;
    color: #fff;
}

@media (max-width: 991.98px) {
    .btn-cancel {
        min-width: auto;
    }
}

.btn-cancel.add-cancel {
    padding: 8px 20px;
    min-width: 0;
}

.btn-submit.add-sale {
    padding: 8px 20px;
    min-width: 0;
}

.btn-primary {
    color: #fff;
    background-color: #ff9f43;
    border-color: #ff9f43;
}

.btn-previw {
    background: #f00;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
    padding: 8px 20px;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.btn-previw:hover {
    background: #f00;
    color: #fff;
}

@media (max-width: 991.98px) {
    .btn-previw {
        min-width: auto;
    }
}

.btn-save {
    background: #ff9f43;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
    padding: 8px 20px;
    -webkit-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.btn-save:hover {
    background: #ff8510;
    color: #fff;
}

@media (max-width: 991.98px) {
    .btn-save {
        min-width: auto;
        padding: 5px 7px;
    }
}

.btn-reset {
    background: #5b6670;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
    padding: 8px 20px;
    -webkit-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.btn-reset:hover {
    background: #092c4c;
    color: #fff;
}

@media (max-width: 991.98px) {
    .btn-reset {
        min-width: auto;
        padding: 5px 7px;
    }
}

.btn-send {
    background: #ff9f43;
    padding: 9px 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    margin-right: 15px;
    border-radius: 8px;
}

.btn-send:hover {
    background: #ff8510;
    color: #fff;
}

.btn-send .send-mail {
    margin-right: 10px;
    width: 16px;
    height: 16px;
}

.btn-download {
    background: #092c4c;
    padding: 9px 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    margin-right: 15px;
    border-radius: 8px;
}

.btn-download:hover {
    background: #212529;
    color: #fff;
}

.btn-download .download {
    margin-right: 10px;
    width: 16px;
    height: 16px;
}

.btn-barcode {
    background: #f00;
    padding: 9px 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    margin-right: 15px;
    border-radius: 8px;
}

.btn-barcode:hover {
    background: #f00;
    color: #fff;
}

.btn-barcode .print {
    margin-right: 10px;
    width: 16px;
    height: 16px;
}

.btn-primary.add-em-payroll {
    padding: 9px 11px;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    border-radius: 8px;
}

.btn-primary.add-em-payroll .me-2 {
    width: 16px;
    height: 16px;
}

.swal2-actions .swal2-confirm.btn:active {
    background-color: #ff9f43;
    border-color: #ff9f43;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    background-color: #ff9f43;
    border-color: #ff9f43;
    color: #fff !important;
}

.modal .card {
    border: 0;
}

.search-input .btn-searchset:active {
    background-color: transparent;
    border-color: transparent;
}

.search-input .btn-searchset:active svg {
    color: #092c4c;
}

.input-blocks input[type=text].datetimepicker {
    padding-left: 35px;
}

.iti__country-list {
    z-index: 101;
}

button {
    cursor: pointer;
}

button:focus {
    outline: 0;
    box-shadow: none;
}

.btn {
    border-radius: 3px;
    padding: 0.625rem 1.25rem;
    padding: 0.5rem 0.85rem;
    font-size: 0.85rem;
    transition: all 0.5s;
    font-weight: 600;
}

.btn:focus {
    box-shadow: none !important;
}

.btn:hover {
    transition: all 0.5s;
}

.btn.btn-lg {
    padding: 0.65rem 1rem;
    font-size: 0.95rem;
}

.btn.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
}

.btn.btn-primary {
    background-color: #ff9f43 !important;
    border: 1px solid #ff9f43 !important;
    color: #fff;
    box-shadow: 0 4px 20px rgba(255, 159, 67, .15);
}

.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary.focus,
.btn.btn-primary:active,
.btn.btn-primary.active {
    background-color: #ff8d1f !important;
    border: 1px solid #ff8d1f !important;
    box-shadow: 0 3px 10px rgba(255, 159, 67, 0.5);
    color: #fff !important;
}

.btn.btn-secondary {
    background-color: #092c4c !important;
    border: 1px solid #092c4c !important;
    color: #fff;
    box-shadow: 0 4px 20px rgba(9, 44, 76, .15);
}

.btn.btn-secondary:hover,
.btn.btn-secondary:focus,
.btn.btn-secondary.focus,
.btn.btn-secondary:active,
.btn.btn-secondary.active {
    background-color: #051a2c !important;
    border: 1px solid #051a2c !important;
    box-shadow: 0 3px 10px rgba(9, 44, 76, 0.5);
    color: #fff !important;
}

.btn.btn-success {
    background-color: #28c76f !important;
    border: 1px solid #28c76f !important;
    color: #fff;
    box-shadow: 0 4px 20px rgba(40, 199, 111, .15);
}

.btn.btn-success:hover,
.btn.btn-success:focus,
.btn.btn-success.focus,
.btn.btn-success:active,
.btn.btn-success.active {
    background-color: #22a95e !important;
    border: 1px solid #22a95e !important;
    box-shadow: 0 3px 10px rgba(40, 199, 111, 0.5);
    color: #fff !important;
}

.btn.btn-info {
    background-color: #17a2b8 !important;
    border: 1px solid #17a2b8 !important;
    color: #fff;
    box-shadow: 0 4px 20px rgba(23, 162, 184, .15);
}

.btn.btn-info:hover,
.btn.btn-info:focus,
.btn.btn-info.focus,
.btn.btn-info:active,
.btn.btn-info.active {
    background-color: #138698 !important;
    border: 1px solid #138698 !important;
    box-shadow: 0 3px 10px rgba(23, 162, 184, 0.5);
    color: #fff !important;
}

.btn.btn-warning {
    background-color: #f90 !important;
    border: 1px solid #f90 !important;
    color: #fff;
    box-shadow: 0 4px 20px rgba(255, 153, 0, .15);
}

.btn.btn-warning:hover,
.btn.btn-warning:focus,
.btn.btn-warning.focus,
.btn.btn-warning:active,
.btn.btn-warning.active {
    background-color: #db8400 !important;
    border: 1px solid #db8400 !important;
    box-shadow: 0 3px 10px rgba(255, 153, 0, 0.5);
    color: #fff !important;
}

.btn.btn-danger {
    background-color: #f00 !important;
    border: 1px solid #f00 !important;
    color: #fff;
    box-shadow: 0 4px 20px rgba(255, 0, 0, .15);
}

.btn.btn-danger:hover,
.btn.btn-danger:focus,
.btn.btn-danger.focus,
.btn.btn-danger:active,
.btn.btn-danger.active {
    background-color: #db0000 !important;
    border: 1px solid #db0000 !important;
    box-shadow: 0 3px 10px rgba(255, 0, 0, 0.5);
    color: #fff !important;
}

.btn.btn-dark {
    background-color: #29344a !important;
    border: 1px solid #29344a !important;
    color: #fff;
    box-shadow: 0 4px 20px rgba(41, 52, 74, .15);
}

.btn.btn-dark:hover,
.btn.btn-dark:focus,
.btn.btn-dark.focus,
.btn.btn-dark:active,
.btn.btn-dark.active {
    background-color: #1c2433 !important;
    border: 1px solid #1c2433 !important;
    box-shadow: 0 3px 10px rgba(41, 52, 74, 0.5);
    color: #fff !important;
}

.btn.btn-light {
    background-color: #f8f9fa !important;
    border: 1px solid #f8f9fa !important;
    color: #fff;
    box-shadow: 0 4px 20px rgba(248, 249, 250, .15);
}

.btn.btn-light:hover,
.btn.btn-light:focus,
.btn.btn-light.focus,
.btn.btn-light:active,
.btn.btn-light.active {
    background-color: #e3e7eb !important;
    border: 1px solid #e3e7eb !important;
    box-shadow: 0 3px 10px rgba(248, 249, 250, 0.5);
    color: #fff !important;
}

.btn.btn-black {
    background-color: #000 !important;
    border: 1px solid #000 !important;
    color: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, .15);
}

.btn.btn-black:hover,
.btn.btn-black:focus,
.btn.btn-black.focus,
.btn.btn-black:active,
.btn.btn-black.active {
    background-color: #000 !important;
    border: 1px solid #000 !important;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    color: #fff !important;
}

.btn.btn-purple {
    background-color: #7367f0 !important;
    border: 1px solid #7367f0 !important;
    color: #fff;
    box-shadow: 0 4px 20px rgba(115, 103, 240, .15);
}

.btn.btn-purple:hover,
.btn.btn-purple:focus,
.btn.btn-purple.focus,
.btn.btn-purple:active,
.btn.btn-purple.active {
    background-color: #5547ed !important;
    border: 1px solid #5547ed !important;
    box-shadow: 0 3px 10px rgba(115, 103, 240, 0.5);
    color: #fff !important;
}

.btn.btn-yellow {
    background-color: #ff0 !important;
    border: 1px solid #ff0 !important;
    color: #fff;
    box-shadow: 0 4px 20px rgba(255, 255, 0, .15);
}

.btn.btn-yellow:hover,
.btn.btn-yellow:focus,
.btn.btn-yellow.focus,
.btn.btn-yellow:active,
.btn.btn-yellow.active {
    background-color: #dbdb00 !important;
    border: 1px solid #dbdb00 !important;
    box-shadow: 0 3px 10px rgba(255, 255, 0, 0.5);
    color: #fff !important;
}

.btn.btn-teal {
    background-color: #02a8b5 !important;
    border: 1px solid #02a8b5 !important;
    color: #fff;
    box-shadow: 0 4px 20px rgba(2, 168, 181, .15);
}

.btn.btn-teal:hover,
.btn.btn-teal:focus,
.btn.btn-teal.focus,
.btn.btn-teal:active,
.btn.btn-teal.active {
    background-color: #028792 !important;
    border: 1px solid #028792 !important;
    box-shadow: 0 3px 10px rgba(2, 168, 181, 0.5);
    color: #fff !important;
}

.btn.btn-light {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    color: #343a40 !important;
}

.btn.btn-light:hover,
.btn.btn-light:focus,
.btn.btn-light.focus,
.btn.btn-light:active,
.btn.btn-light.active {
    background-color: #fff;
    border: 1px solid #fff;
    box-shadow: 0 0 0 2px rgba(248, 249, 250, .08);
    color: #29344a !important;
}

.btn-group .btn {
    padding: 0.45rem 0.75rem;
}

.btn-group-lg .btn {
    padding: 0.65rem 1rem;
}

.btn-group-sm .btn {
    padding: 0.25rem 0.5rem;
}

.btn.btn-w-xs {
    min-width: 5.625rem;
}

.btn.btn-w-sm {
    min-width: 6.975rem;
}

.btn.btn-w-md {
    min-width: 8.125rem;
}

.btn.btn-w-lg {
    min-width: 9.375rem;
}

.btn-icon i {
    padding: 0rem;
    margin: -0.5rem;
}

.btn-icon.btn-sm {
    width: 1.75rem;
    height: 1.75rem;
    font-size: 0.8rem;
}

.btn-icon.btn-lg {
    width: 2.75rem;
    height: 2.75rem;
    font-size: 1.2rem;
}

.btn-list>button,
.btn-list>a {
    margin: 0 0.375rem 0.375rem 0;
}

[dir="rtl"] .btn-list button,
[dir="rtl"] .btn-list div,
[dir="rtl"] .btn-list a,
[dir="rtl"] .btn-list input {
    margin: 0 0 0.375rem 0.375rem;
}

.btn-list {
    margin-block-end: -0.5rem;
}

.btn-square {
    border-radius: 0;
}

.btn-group-pill .btn:first-child {
    border-radius: 60px 0 0 60px;
}

.btn-group-pill .btn:last-child {
    border-radius: 0 60px 60px 0;
}

.btn-group-square .btn:first-child {
    border-radius: 0px 0 0 0px;
}

.btn-group-square .btn:last-child {
    border-radius: 0 0px 0px 0;
}

.btn.btn-primary-light {
    background-color: rgba(255, 159, 67, 0.1);
    color: #ff9f43;
}

.btn.btn-primary-light:hover,
.btn.btn-primary-light:focus,
.btn.btn-primary-light:active {
    background-color: #ff9f43;
    color: #fff;
    border-color: #ff9f43;
}

.btn.btn-secondary-light {
    background-color: rgba(9, 44, 76, 0.1);
    color: #092c4c;
}

.btn.btn-secondary-light:hover,
.btn.btn-secondary-light:focus,
.btn.btn-secondary-light:active {
    background-color: #092c4c;
    color: #fff;
    border-color: #092c4c;
}

.btn.btn-warning-light {
    background-color: rgba(255, 153, 0, 0.1);
    color: #f90;
}

.btn.btn-warning-light:hover,
.btn.btn-warning-light:focus,
.btn.btn-warning-light:active {
    background-color: #f90;
    color: #fff;
    border-color: #f90;
}

.btn.btn-info-light {
    background-color: rgba(23, 162, 184, 0.1);
    color: #17a2b8;
}

.btn.btn-info-light:hover,
.btn.btn-info-light:focus,
.btn.btn-info-light:active {
    background-color: #17a2b8;
    color: #fff;
    border-color: #17a2b8;
}

.btn.btn-success-light {
    background-color: rgba(40, 199, 111, 0.1);
    color: #28c76f;
}

.btn.btn-success-light:hover,
.btn.btn-success-light:focus,
.btn.btn-success-light:active {
    background-color: #28c76f;
    color: #fff;
    border-color: #28c76f;
}

.btn.btn-danger-light {
    background-color: rgba(255, 0, 0, 0.1);
    color: #f00;
}

.btn.btn-danger-light:hover,
.btn.btn-danger-light:focus,
.btn.btn-danger-light:active {
    background-color: #f00;
    color: #fff;
    border-color: #f00;
}

.btn.btn-primary-ghost {
    background-color: transparent;
    color: #ff9f43;
    border: 1px solid #ff9f43;
}

.btn.btn-primary-ghost:active {
    color: #ff9f43;
    border: 1px solid #ff9f43;
    background-color: transparent;
}

.btn.btn-secondary-ghost {
    background-color: transparent;
    color: #092c4c;
    border: 1px solid #092c4c;
}

.btn.btn-secondary-ghost:active {
    color: #092c4c;
    border: 1px solid #092c4c;
    background-color: transparent;
}

.btn.btn-warning-ghost {
    background-color: transparent;
    color: #f90;
    border: 1px solid #f90;
}

.btn.btn-warning-ghost:active {
    color: #f90;
    border: 1px solid #f90;
    background-color: transparent;
}

.btn.btn-info-ghost {
    background-color: transparent;
    color: #17a2b8;
    border: 1px solid #17a2b8;
}

.btn.btn-info-ghost:active {
    color: #17a2b8;
    border: 1px solid #17a2b8;
    background-color: transparent;
}

.btn.btn-success-ghost {
    background-color: transparent;
    color: #28c76f;
    border: 1px solid #28c76f;
}

.btn.btn-success-ghost:active {
    color: #28c76f;
    border: 1px solid #28c76f;
    background-color: transparent;
}

.btn.btn-danger-ghost {
    background-color: transparent;
    color: #f00;
    border: 1px solid #f00;
}

.btn.btn-danger-ghost:active {
    color: #f00;
    border: 1px solid #f00;
    background-color: transparent;
}

.btn-list button {
    margin: 0 0.375rem 0.375rem 0;
}

.btn-outline-primary {
    border: 1px solid #ff9f43 !important;
    color: #ff9f43 !important;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary.focus,
.btn-outline-primary:active,
.btn-outline-primary.active {
    background-color: #ff9f43 !important;
    border: 1px solid #ff9f43 !important;
    box-shadow: 0 3px 10px rgba(255, 159, 67, 0.5);
    color: #fff !important;
}

.btn-outline-secondary {
    border: 1px solid #092c4c !important;
    color: #092c4c !important;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:focus,
.btn-outline-secondary.focus,
.btn-outline-secondary:active,
.btn-outline-secondary.active {
    background-color: #092c4c !important;
    border: 1px solid #092c4c !important;
    box-shadow: 0 3px 10px rgba(9, 44, 76, 0.5);
    color: #fff !important;
}

.btn-outline-success {
    border: 1px solid #28c76f !important;
    color: #28c76f !important;
}

.btn-outline-success:hover,
.btn-outline-success:focus,
.btn-outline-success.focus,
.btn-outline-success:active,
.btn-outline-success.active {
    background-color: #28c76f !important;
    border: 1px solid #28c76f !important;
    box-shadow: 0 3px 10px rgba(40, 199, 111, 0.5);
    color: #fff !important;
}

.btn-outline-danger {
    border: 1px solid #f00 !important;
    color: #f00 !important;
}

.btn-outline-danger:hover,
.btn-outline-danger:focus,
.btn-outline-danger.focus,
.btn-outline-danger:active,
.btn-outline-danger.active {
    background-color: #f00 !important;
    border: 1px solid #f00 !important;
    box-shadow: 0 3px 10px rgba(255, 0, 0, 0.5);
    color: #fff !important;
}

.btn-outline-warning {
    border: 1px solid #f90 !important;
    color: #f90 !important;
}

.btn-outline-warning:hover,
.btn-outline-warning:focus,
.btn-outline-warning.focus,
.btn-outline-warning:active,
.btn-outline-warning.active {
    background-color: #f90 !important;
    border: 1px solid #f90 !important;
    box-shadow: 0 3px 10px rgba(255, 153, 0, 0.5);
    color: #fff !important;
}

.btn-outline-info {
    border: 1px solid #17a2b8 !important;
    color: #17a2b8 !important;
}

.btn-outline-info:hover,
.btn-outline-info:focus,
.btn-outline-info.focus,
.btn-outline-info:active,
.btn-outline-info.active {
    background-color: #17a2b8 !important;
    border: 1px solid #17a2b8 !important;
    box-shadow: 0 3px 10px rgba(23, 162, 184, 0.5);
    color: #fff !important;
}

.btn-outline-light {
    border: 1px solid #f8f9fa;
    color: #343a40 !important;
}

.btn-outline-light:hover,
.btn-outline-light:focus,
.btn-outline-light.focus,
.btn-outline-light:active,
.btn-outline-light.active {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    color: #29344a !important;
}

.btn-outline-dark {
    border: 1px solid #29344a !important;
    color: #29344a !important;
}

.btn-outline-dark:hover,
.btn-outline-dark:focus,
.btn-outline-dark.focus,
.btn-outline-dark:active,
.btn-outline-dark.active {
    background-color: #29344a !important;
    border: 1px solid #29344a !important;
    box-shadow: 0 3px 10px rgba(41, 52, 74, 0.5);
    color: #fff !important;
}

.btn-soft-primary {
    background-color: #ffe2c7 !important;
    color: #ff9f43 !important;
}

.btn-soft-primary:hover,
.btn-soft-primary:focus,
.btn-soft-primary.focus,
.btn-soft-primary:active,
.btn-soft-primary.active {
    box-shadow: 0 3px 12px rgba(255, 159, 67, .2);
    border-color: #ff9f43;
}

.btn-soft-secondary {
    background-color: #b5c0c9 !important;
    color: #092c4c !important;
}

.btn-soft-secondary:hover,
.btn-soft-secondary:focus,
.btn-soft-secondary.focus,
.btn-soft-secondary:active,
.btn-soft-secondary.active {
    box-shadow: 0 3px 12px rgba(9, 44, 76, .2);
    border-color: #092c4c;
}

.btn-soft-success {
    background-color: #bfeed4 !important;
    color: #28c76f !important;
}

.btn-soft-success:hover,
.btn-soft-success:focus,
.btn-soft-success.focus,
.btn-soft-success:active,
.btn-soft-success.active {
    box-shadow: 0 3px 12px rgba(40, 199, 111, .2);
    border-color: #28c76f;
}

.btn-soft-danger {
    background-color: #ffb3b3 !important;
    color: #f00 !important;
}

.btn-soft-danger:hover,
.btn-soft-danger:focus,
.btn-soft-danger.focus,
.btn-soft-danger:active,
.btn-soft-danger.active {
    box-shadow: 0 3px 12px rgba(255, 0, 0, .2);
    border-color: #f00;
}

.btn-soft-warning {
    background-color: #ffe0b3 !important;
    color: #f90 !important;
}

.btn-soft-warning:hover,
.btn-soft-warning:focus,
.btn-soft-warning.focus,
.btn-soft-warning:active,
.btn-soft-warning.active {
    box-shadow: 0 3px 12px rgba(255, 153, 0, .2);
    border-color: #f90;
}

.btn-soft-info {
    background-color: rgba(23, 162, 184, 0.3) !important;
    color: #17a2b8 !important;
}

.btn-soft-info:hover,
.btn-soft-info:focus,
.btn-soft-info.focus,
.btn-soft-info:active,
.btn-soft-info.active {
    box-shadow: 0 3px 12px rgba(23, 162, 184, .2);
    border-color: #17a2b8;
}

.btn-soft-light {
    background-color: rgba(248, 249, 250, .9) !important;
    color: #5b6670 !important;
}

.btn-soft-light:hover,
.btn-soft-light:focus,
.btn-soft-light.focus,
.btn-soft-light:active,
.btn-soft-light.active {
    box-shadow: 0 3px 12px rgba(248, 249, 250, .2);
    border-color: #f8f9fa;
    border-color: #5b6670;
}

.btn-soft-dark {
    background-color: rgba(41, 52, 74, 0.3) !important;
    color: #fff !important;
}

.btn-soft-dark:hover,
.btn-soft-dark:focus,
.btn-soft-dark.focus,
.btn-soft-dark:active,
.btn-soft-dark.active {
    box-shadow: 0 3px 12px rgba(41, 52, 74, .2);
    border-color: #29344a;
}

.page-btn {
    margin-left: 10px;
    margin-bottom: 1rem;
}

.navigation-add {
    margin-right: 1.5rem;
    margin-top: 0.3rem;
}