USE [InventoryManagement]
GO
/****** Object:  UserDefinedFunction [dbo].[GET_DailyClosingBalance]    Script Date: 24-06-2025 17:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER function [dbo].[GET_DailyClosingBalance]
(	
	 @OrganizationID VARCHAR(24) 		= '',
     @DivisionID	 VARCHAR(24)		= '',
     @SDATE			 VARCHAR(50)		= ''
)
RETURNS TABLE 
AS
RETURN 
(

	SELECT			ROUND(SUM	(
							CASE 
								WHEN 'PK0034' =  DRACC THEN VoucherAmount
								WHEN 'PK0034' =  CRACC THEN 0 - VoucherAmount
								ELSE 0
							END
						),2)			AS ClosingBalance
	FROM		ST_Voucher 
	WHERE		OrganizationID			= @OrganizationID 
		AND		DivisionID				= @DivisionID
		AND	(
					DRACC	= 'PK0034'
				OR	CRACC	= 'PK0034'
			)
		AND	IsDeleted		= 0
		AND	VoucherDate		<= CAST(@SDATE AS DATETIME) 
	
)





