USE [InventoryManagement]
GO
/****** Object:  StoredProcedure [dbo].[SP_DayEnd]    Script Date: 25-06-2025 12:46:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_DayEnd]
    @DATE		VARCHAR(50) = '',
	@COMPANYID	VARCHAR(24) = '',
	@BRANCHID	VARCHAR(24) = ''
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @RMSG NVARCHAR(MAX);
    DECLARE @RVAL NVARCHAR(MAX);
    DECLARE @ERRORCODE VARCHAR(10);
    DECLARE @ISSUCCESS INT = 1;

	DECLARE @FYID VARCHAR(20);

	DECLARE @PREVDATE DATE = DATEADD(DAY, -1, CAST(@DATE AS DATE))
    DECLARE @CLOSINGBAL FLOAT

	IF MONTH(@PREVDATE) >= 4
		SET @FYID = CAST(YEAR(@PREVDATE) AS VARCHAR) + '-' + CAST(YEAR(@PREVDATE) + 1 AS VARCHAR)
	ELSE
		SET @FYID = CAST(YEAR(@PREVDATE) - 1 AS VARCHAR) + '-' + CAST(YEAR(@PREVDATE) AS VARCHAR)


    IF EXISTS (
        SELECT	 1
		FROM	tblGateEntryDetail
        WHERE	ISDELETED			= 0
          AND	CAST(DATE AS DATE)	= DATEADD(DAY, -1, CAST(@DATE AS DATE))
          AND	ISCOMPLETED			= 0
    )
    BEGIN
		SET @RMSG		= N'लिलाव प्रक्रिया अद्याप पूर्ण झालेली नाही.';
        SET @RVAL		= 'Auction';
        SET @ERRORCODE	= 'ERROR';
        SET @ISSUCCESS	= 0;
    END
    ELSE IF EXISTS (
        SELECT	1
		FROM	tblAuctionshedMaster
        WHERE	CAST(DATE AS DATE)	= DATEADD(DAY, -1, CAST(@DATE AS DATE))
          AND	ISDELETED			= 0
          AND	ISCOMPLETED			= 0
    )
    BEGIN
		SET @RMSG		 = N'सर्व बिल पूर्ण झालेली नाही.';
        SET @RVAL		 = 'Bill';
        SET @ERRORCODE	 = 'ERROR';
        SET @ISSUCCESS	 = 0;
    END
    --ELSE IF EXISTS (
    --    SELECT 1 FROM tblRECEIPTMaster
    --    WHERE CAST(DATE AS DATE) = DATEADD(DAY, -1, CAST(@DATE AS DATE))
    --      AND ISDELETED = 0
    --      AND STATUS <> 1
    --)
    --BEGIN
    --     SET @RMSG = N'सर्व बिल पूर्ण झालेली नाही.';
    --    SET @RVAL = 'Receipt';
    --    SET @ERRORCODE = 'ERROR';
    --    SET @ISSUCCESS = 0;
    --END
    ELSE IF EXISTS (
        SELECT	1 
		FROM	ST_UserMasters
        WHERE	ISDELETED	= 0
			AND ISLOGIN		<> 0 
			AND UROLEID		<> 'admin'
    )
    BEGIN
        SET @RMSG		= N'वापरकर्ता अजूनही लॉगइन आहे. कृपया आधी लॉगआउट करा.';
        SET @RVAL		= 'UserLogin';
        SET @ERRORCODE	= 'ERROR';
        SET @ISSUCCESS	= 0
    END
    ELSE
    BEGIN
        IF DAY(CAST(@DATE AS DATE)) = 1
        BEGIN
            EXEC SP_InsertMonthlyClosingBal
        END

		SELECT @CLOSINGBAL = ClosingBalance
		FROM GET_DailyClosingBalance(@COMPANYID, @BRANCHID, @PREVDATE)

		IF @CLOSINGBAL IS NOT NULL
		BEGIN
			IF EXISTS (
				SELECT	1 
				FROM	TBLDClosingBalance 
				WHERE	OrganizationID	= @COMPANYID 
				  AND	DivisionID		= @BRANCHID 
				  AND	DATE			= @PREVDATE
				  AND	ISDELETED		= 0
			)
			BEGIN
				UPDATE TBLDClosingBalance
				SET ISDELETED			= 1
				WHERE OrganizationID	= @COMPANYID 
				  AND DivisionID		= @BRANCHID 
				  AND DATE				= @PREVDATE
				  AND ISDELETED			= 0
			END

			INSERT INTO TBLDClosingBalance (
				OrganizationID,
				DivisionID, 
				DATE, 
				FYID,
				AMOUNT, 
				ASID,
				ISDELETED, 
				SYSDT
			)
			VALUES (
				@COMPANYID,
				@BRANCHID,
				@PREVDATE, 
				@FYID, 
				@CLOSINGBAL, 
				'', 
				0, 
				GETDATE()
			);
		END
        UPDATE ST_UserMasters
        SET ISLOGIN = 0,
            UREGISTRATIONDATE = @DATE
        WHERE	ISDELETED	= 0
			--AND UCOMPANYID	= @COMPANYID
			--AND UBRANCHID	= @BRANCHID
	
       SET @RMSG = N'अभिनंदन! दिवसाची समाप्ती यशस्वी झाली आहे.';
        SET @RVAL = 'DayEnd';
        SET @ERRORCODE = 'SUCCESS';
        SET @ISSUCCESS = 1;
    END

    SELECT 
        @ERRORCODE AS ResponseCode,
        @RMSG AS ResponseMessage,
        @RVAL AS ResponseValues,
        @ISSUCCESS AS IsSuccessful;

    RETURN;
END

